extends ./template.jade

block content
    
    div.row
        div.col-md-12
            h1.page-header=title
        
    div.row
        div.col-md-3.col-sm-6
            div.panel.panel-default
                div.panel-body.icon.check
                    &#9989
                div.panel-footer.
                    COMPOSIÇÃO CORPORAL
        div.col-md-3.col-sm-6
            div.panel.panel-default
                div.panel-body.icon
                    &#9733
                div.panel-footer.
                    INTERVALADO
        div.col-md-3.col-sm-6
            div.panel.panel-default
                div.panel-body.icon
                    &#9732
                div.panel-footer.
                    MUSCULAÇÃO 
        div.col-md-3.col-sm-6
            div.panel.panel-default
                div.panel-body.icon
                    &#9825
                div.panel-footer.
                    AERÓBICO
        div.col-md-3.col-sm-6
            div.panel.panel-default
                div.panel-body.icon
                    &#9825
                div.panel-footer.
                    MEDITAÇÃO
        div.col-md-3.col-sm-6
            div.panel.panel-default
                div.panel-body.icon
                    &#9825
                div.panel-footer.
                    SONO
        div.col-md-3.col-sm-6
            div.panel.panel-default
                div.panel-body.icon
                    &#9825
                div.panel-footer.
                    ALIMENTAÇÃO
        div.col-md-3.col-sm-6
            div.panel.panel-default
                div.panel-body.icon
                    &#9825
                div.panel-footer.
                    MELHORIA EFETIVA NA SEMANA
